menu{
    /* margin-right: 20px; */
    margin-bottom: 10px;
}
button {
    color: black;
    background-color: #5e4278;
    border-radius: 5px;
    width: 100px;
    /* display:flex; */
    text-align: center;
    /* float: right */
}

button:hover,
button:active
.active {
    background-color: #9965dd;
    color: #150722;
}

header{
    margin-bottom: 40px;
}